<?xml version="1.0"?>
<config>
    <modules>
        <Chapagain_ProductTooltip>
            <version>0.1.1</version>
        </Chapagain_ProductTooltip>
    </modules> 
    <frontend>
		<events>
            <core_block_abstract_to_html_before>
                <observers>
                    <chapagain_producttooltip>
                        <type>model</type>
                        <class>producttooltip/observer</class>
                        <method>insertBlock</method>
                    </chapagain_producttooltip>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
        <routers>
            <producttooltip>
                <use>standard</use>
                <args>
                    <module>Chapagain_ProductTooltip</module>
                    <frontName>producttooltip</frontName>
                </args>
            </producttooltip>
        </routers>
		<layout>
            <updates>
                <producttooltip>
                    <file>chapagain_producttooltip.xml</file>
                </producttooltip>
            </updates>
        </layout>
        <translate>
			<modules>
				<Chapagain_ProductTooltip>
					<files>
						<default>Chapagain_ProductTooltip.csv</default>
					</files>
				</Chapagain_ProductTooltip>
			</modules>
		</translate>
    </frontend>	
	<global>
		<models> 
            <producttooltip>
                <class>Chapagain_ProductTooltip_Model</class>
            </producttooltip>
        </models>		
        <resources>
            <producttooltip_setup>
                <setup>
                    <module>Chapagain_ProductTooltip</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </producttooltip_setup>
            <producttooltip_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </producttooltip_write>
            <producttooltip_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </producttooltip_read>
        </resources>
        <blocks>
            <producttooltip>
                <class>Chapagain_ProductTooltip_Block</class>
            </producttooltip>
        </blocks>
        <helpers>
            <producttooltip>
				<class>Chapagain_ProductTooltip_Helper</class>
            </producttooltip>
        </helpers>
	</global>
	<default>
		<chapagain_producttooltip>
			<general>
				<is_enabled>1</is_enabled>
				<show_name>1</show_name>
				<show_price>1</show_price>
				<show_rating>1</show_rating>
				<show_short_description>1</show_short_description>
				<show_attribute>1</show_attribute>
				<show_attribute_product_listing>1</show_attribute_product_listing>
				<show_in_grid_mode>1</show_in_grid_mode>
				<show_in_list_mode>1</show_in_list_mode>
			</general>
			<design>
				<animation>fade</animation>
				<delay>200</delay>
				<min_width>0</min_width>
				<max_width>300</max_width>
				<icon_desktop>0</icon_desktop>
				<icon_touch>0</icon_touch>
				<position>top</position>
				<speed>350</speed>
				<theme>shadow</theme>
				<touch_devices>1</touch_devices>
			</design>
		</chapagain_producttooltip>
	</default>
</config>
