<?xml version="1.0" encoding="UTF-8"?>
<config>
   <sections>         
		<chapagain_producttooltip translate="label" module="producttooltip">
			<label>Product Tooltip</label>
			<tab>catalog</tab>
			<frontend_type>text</frontend_type>
			<sort_order>60</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general translate="label">
					<label>General</label>
					<frontend_type>text</frontend_type>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>						
						<is_enabled translate="label comment">
							<label>Enabled</label>
							<comment>Enable/Disable Module</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</is_enabled>
						<show_name translate="label comment">
							<label>Show Product Name</label>							
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show_name>
						<show_price translate="label comment">
							<label>Show Price</label>							
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show_price>
						<show_rating translate="label comment">
							<label>Show Rating</label>							
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show_rating>
						<show_short_description translate="label comment">
							<label>Show Short Description</label>							
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show_short_description>
						<show_attribute translate="label comment">
							<label>Show Attribute Info</label>
							<comment>Attributes and their value</comment>						
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>60</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show_attribute>
						<show_attribute_product_listing translate="label comment">
							<label>Attribute Info Filter</label>
							<comment>Show only those attributes having 'Used in Product Listing' = Yes (Catalog -> Attributes -> Manage Attributes)</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>70</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show_attribute_product_listing>
						<show_in_grid_mode translate="label comment">
							<label>Show in Grid Mode</label>
							<comment></comment>						
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>80</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show_in_grid_mode>
						<show_in_list_mode translate="label comment">
							<label>Show in List Mode</label>
							<comment></comment>						
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>90</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show_in_list_mode>
					</fields>
				</general>
				<design translate="label">
					<label>Tooltip Design</label>
					<frontend_type>text</frontend_type>
					<sort_order>20</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>						
						<animation translate="label comment">
							<label>Animation Effect</label>	
							<comment>Determines how the tooltip will animate in and out. Default: Fade</comment>
							<frontend_type>select</frontend_type>
							<source_model>producttooltip/system_config_source_animation</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</animation>
						<delay translate="label comment">
							<label>Delay</label>
							<comment>Delay how long it takes (in milliseconds) for the tooltip to start animating in. Default: 200</comment>
							<frontend_type>text</frontend_type>							
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</delay>
						<min_width translate="label comment">
							<label>Minimum Width</label>
							<comment>Set a minimum width for the tooltip. Default: 0 (auto width)</comment>
							<frontend_type>text</frontend_type>							
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</min_width>
						<max_width translate="label comment">
							<label>Maximum Width</label>
							<comment>Set a maximum width for the tooltip. (0 = no max width)</comment>
							<frontend_type>text</frontend_type>							
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</max_width>
						<icon translate="label comment">
							<label>Icon</label>	
							<comment>If using the iconDesktop or iconTouch options, this sets the content for your icon. Default: '(?)'</comment>
							<frontend_type>text</frontend_type>							
							<sort_order>45</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</icon>
						<icon_desktop translate="label comment">
							<label>Icon Desktop</label>	
							<comment>Generate an icon next to your content that is responsible for activating the tooltip on non-touch devices. Default: No</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</icon_desktop>
						<icon_touch translate="label comment">
							<label>Icon Touch</label>
							<comment>Generate an icon next to your content that is responsible for activating the tooltip on touch devices (tablets, phones, etc). Default: No</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>60</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</icon_touch>
						<position translate="label comment">
							<label>Position</label>
							<comment>Set the position of the tooltip. Default: 'top'</comment>
							<frontend_type>select</frontend_type>
							<source_model>producttooltip/system_config_source_position</source_model>
							<sort_order>70</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</position>
						<speed translate="label comment">
							<label>Speed</label>
							<comment>Set the speed of the animation. Default: 350</comment>
							<frontend_type>text</frontend_type>							
							<sort_order>80</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</speed>
						<theme translate="label comment">
							<label>Theme</label>
							<comment>Set the theme used for your tooltip. Default: 'shadow'</comment>
							<frontend_type>select</frontend_type>
							<source_model>producttooltip/system_config_source_theme</source_model>
							<sort_order>90</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</theme>
						<touch_devices translate="label comment">
							<label>Touch Devices</label>
							<comment>If set to 'No', tooltips will not show on pure-touch devices, unless you open them yourself with the 'show' method. Touch gestures on devices which also have a mouse will still open the tooltips though. Default: Yes</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</touch_devices>
					</fields>
				</design>
			</groups>						
		</chapagain_producttooltip>			
    </sections>
</config>
